<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="./responsiveDetail?id={{device.serialNumber }}">Edit</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Activate</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Replace Vehicle</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Contact DMV</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Cancel Unit</a></li>
    </ul>
</div>
